n8n/workflow_sheets.json
{
  "name": "Maps Scraper - Enrich + Google Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leads",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "maps-scraper-leads"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "content-type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 256, messages: [{ role: 'user', content: 'You are a business intelligence assistant. Based on this website text from ' + $json.business_name + ' (' + $json.domain + '), extract the owner or founder name if clearly stated. RULES: Return ONLY valid JSON, no explanation. owner_name is the full name string, or empty string if not found. Do not guess - only extract names that are explicitly stated. Website text: ' + ($json.page_text || '') + ' Respond with JSON only: {\"owner_name\": \"Name or empty\", \"confidence\": \"high|medium|low\"}' }] }) }}",
        "options": {"timeout": 25000}
      },
      "id": "node-ai-002",
      "name": "Claude Haiku - Extract Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 480],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ANTHROPIC_CRED",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "node-merge-006",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst lead = item.body || {};\nconst blocks = item.content || [];\nlet haikuText = '';\nfor (var i = 0; i < blocks.length; i++) {\n  if (blocks[i].type === 'text') { haikuText = blocks[i].text || ''; break; }\n}\nlet owner_name = '';\nlet confidence = 'low';\ntry {\n  const match = haikuText.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    const parsed = JSON.parse(match[0]);\n    owner_name = String(parsed.owner_name || '').trim();\n    confidence = String(parsed.confidence || 'low');\n  }\n} catch (e) {}\nconst now = new Date();\nconst pad = function(n) { return String(n).padStart(2, '0'); };\nconst scraped_at = now.getFullYear() + '-' + pad(now.getMonth() + 1) + '-' + pad(now.getDate())\n  + ' ' + pad(now.getHours()) + ':' + pad(now.getMinutes()) + ':' + pad(now.getSeconds());\nreturn [{ json: {\n  name: lead.name || lead.business_name || '',\n  owner_name: owner_name,\n  email: lead.email || '',\n  phone: lead.phone || '',\n  address: lead.address || '',\n  domain: lead.domain || '',\n  website: lead.website || '',\n  category: lead.category || '',\n  keyword: lead.keyword || '',\n  search_location: lead.search_location || '',\n  maps_url: lead.maps_url || '',\n  scraped_at: scraped_at,\n  confidence: confidence\n} }];"
      },
      "id": "node-buildrow-003",
      "name": "Build Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": ""
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "maps_url"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "node-sheets-004",
      "name": "Google Sheets - Append or Update",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1180, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_SHEETS_CRED",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "node-respond-005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1420, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {"node": "Claude Haiku - Extract Owner", "type": "main", "index": 0},
          {"node": "Merge", "type": "main", "index": 0}
        ]
      ]
    },
    "Claude Haiku - Extract Owner": {
      "main": [
        [
          {"node": "Merge", "type": "main", "index": 1}
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {"node": "Build Row", "type": "main", "index": 0}
        ]
      ]
    },
    "Build Row": {
      "main": [
        [
          {
            "node": "Google Sheets - Append or Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Append or Update": {
      "main": [
        [
          {"node": "Respond to Webhook", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "note": "Hybrid pipeline: local Python scraper POSTs each lead to this webhook. Claude Haiku extracts the owner name, Build Row assembles the full record, Google Sheets appends-or-updates the row (matched on maps_url, so re-runs do not duplicate), and the owner name is returned to the scraper. After import: (1) set the Anthropic API Key HTTP Header Auth credential (header x-api-key), (2) set the Google Sheets OAuth2 credential and pick your spreadsheet + sheet tab, (3) activate and copy the Production webhook URL into config.yaml under n8n.webhook_url."
  }
}
