n8n/workflow_template.json
{
  "name": "Maps Scraper — AI Lead Enrichment",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leads",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "maps-scraper-leads"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type",      "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'claude-haiku-4-5-20251001',\n  max_tokens: 256,\n  messages: [{\n    role: 'user',\n    content: 'You are a business intelligence assistant. Based on this website text from ' + $json.business_name + ' (' + $json.domain + '), extract the owner or founder name if clearly stated.\\n\\nRULES:\\n- Return ONLY valid JSON, no explanation\\n- owner_name: full name string, or empty string if not found\\n- Do not guess — only extract explicitly stated names\\n\\nWebsite text:\\n' + $json.page_text + '\\n\\nRespond with: {\"owner_name\": \"Name or empty\", \"confidence\": \"high|medium|low\"}'
  }]\n}) }}",
        "options": { "timeout": 25000 }
      },
      "id": "node-ai-002",
      "name": "Claude Haiku — Extract Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "anthropic-key",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const blocks = $input.first().json.content || [];\nconst text = Array.isArray(blocks)\n  ? (blocks.find(b => b.type === 'text') || {}).text || ''\n  : String(blocks);\n\nlet owner_name = '', confidence = 'low';\ntry {\n  const m = text.match(/\\{[^}]+\\}/);\n  if (m) {\n    const parsed = JSON.parse(m[0]);\n    owner_name  = (parsed.owner_name || '').trim();\n    confidence  = parsed.confidence  || 'low';\n  }\n} catch (_) {}\n\nreturn [{ json: { owner_name, confidence } }];"
      },
      "id": "node-parse-003",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "node-respond-004",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1020, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Claude Haiku — Extract Owner", "type": "main", "index": 0 }]]
    },
    "Claude Haiku — Extract Owner": {
      "main": [[{ "node": "Parse AI Response", "type": "main", "index": 0 }]]
    },
    "Parse AI Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": {
    "note": "Import this into n8n. Add your Anthropic API key as an HTTP Header credential named 'Anthropic API Key' with header name 'x-api-key'. Activate the workflow, then copy the production webhook URL into config.yaml under n8n.webhook_url."
  }
}
